<div class="flex items-center px-4 mt-10 mb-6">
  <input
    placeholder="Escribe tu película favorita"
    type="search"
    [value]="filterOptions().query"
    (input)="updateQuery($event)"
    class="px-4 ring-orange-300 focus:shadow focus:shadow-orange-500/70 bg-[#1a1a1a] text-white text-xl w-full rounded-xl py-4 b"
  />
</div>
<app-movie-list-grid
  (handlePrev)="handlePrev()"
  (handleNext)="handleNext()"
  [filterOptions]="paginationOptions()"
  [movies]="movies()"
>
</app-movie-list-grid>
