<div
  class="categories mt-16 overflow-hidden flex justify-center items-center pt-2 px-4 bg-gradient-to-r from-[#050505] to-[#1a1a1a]/50 backdrop-blur-lg h-[70px] rounded-xl"
>
  <ul class="flex px-4 items-center flex-1 max-w-full overflow-x-auto gap-10">
    @for (item of sliceGenres; track item.id) {
    <li
      class="flex items-center text-white hover:text-orange-400 gap-2 cursor-pointer"
    >
      <span class="text-xl lg:text-base">{{ item.name }}</span>
    </li>
    }
  </ul>
</div>
