<div class="flex w-full justify-between px-4 items-center mb-4">
  <!-- Help text -->
  <span class="text-sm flex text-gray-700 dark:text-gray-400">
    Pagina {{ filterOptions().page }} of {{ filterOptions().total }} results
  </span>
  <!-- Buttons -->
  <div class="inline-flex mt-2 xs:mt-0">
    <button
      class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
    >
      Prev
    </button>
    <button
      class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
    >
      Next
    </button>
  </div>
</div>
