@if(movie()){
<div class="flex flex-col relative h-full">
  <div class="min-h-[300px] lg:min-h-[530px]">
    <img
      class="hidden lg:inline absolute z-0 top-0 w-full h-full aspect-[1920/800]"
      src="{{ this.getBackdropUrl() }}"
      alt=""
    />
    <img
      class="lg:hidden absolute z-0 top-0 w-full h-full aspect-[3840/2160] object-cover"
      src="{{ movie()?.poster_path ?? '' | imageUrl : 'w780' }}"
      alt=""
    />
    <div
      class="z-[100] pt-20 px-4 gap-4 justify-center text-white relative flex flex-col"
    >
      <div class="flex flex-col gap-2">
        <h1
          class="text-5xl lg:text-7xl text-jersey max-w-[20ch] text-balance title text-orange-500 text-"
        >
          {{ movie()?.title }}
        </h1>
        <h3 class="text-sm">Título original: {{ movie()?.original_title }}</h3>
      </div>
      <p class="text-white text-pretty max-w-[50ch] line-clamp-[10]">
        {{ movie()?.overview }}
      </p>
      <div class="flex gap-4 items-center">
        <span class="text-lg">Fecha de lanzamiento:</span>
        <span class="text-orange-500 font-bold text-xl p-2 w-fit rounded-full">
          {{ movie()?.release_date | date }}
        </span>
      </div>
      <div class="flex gap-4 items-center">
        <span class="text-lg">Rating:</span>
        <div
          class="bg-orange-500 font-bold aspect-square text-xl p-2 w-fit rounded-full"
        >
          {{ movie()?.vote_average | number : "1.1-1" }}
        </div>
      </div>
    </div>
    <div
      class="flex gap-6 px-4 pt-4 bg-gradient-to-r from-[#050505] to-[#1a1a1a]/50 backdrop-blur-lg relative z-[100] pb-5 mt-6 items-start max-w-full overflow-x-auto"
    >
      @for (item of movieCredits(); track item.id) {
      <div class="flex flex-col gap-2 items-center">
        <img
          class="h-24 min-w-32 rounded-xl"
          src="{{ item.profile_path ?? '' | imageUrl : 'w185' }}"
          alt=""
        />
        <span class="text-white text-sm text-center">{{ item.name }}</span>
      </div>
      }
    </div>
  </div>
  <div
    class="absolute w-full h-full z-[99] bg-gradient-to-b from-[#050505] to-[#1a1a1a]/10 backdrop-blur-sm lg:backdrop-blur-sm lg:bg-gradient-to-r lg:from-black/90 lg:to-transparent"
  ></div>
</div>
<div class="text-white px-4 mt-6">
  <h4 class="text-white text-5xl text-jersey">Similares</h4>
</div>
<app-movie-list-grid
  [filterOptions]="similarFilterOptions()"
  [movies]="similarMovies()"
></app-movie-list-grid>
}
