@if(!loading() && movie()) {
<article
  (click)="goToMovieDetail()"
  class="movie-trend group relative w-full min-w-[150px]"
>
  <div
    class="movie-trend__container {{ !usePortrait() ? 'overflow-hidden' : '' }}"
  >
    <div class="movie-trend__image relative">
      <app-image
        class="image_trend"
        className="transition-all rounded-xl {{
          !usePortrait() ? 'aspect-[355/200]' : 'aspect-[500/750]'
        }} duration-300 group-hover:scale-110"
        [image]="getUrlImage()"
        [alt]="movie()?.title"
      />

      @if(!usePortrait()){
      <div
        class="absolute w-full px-4 py-6 opacity-0 group-hover:opacity-100 h-0 transition-all duration-300 group-hover:h-full top-0 left-0 bg-black/50 backdrop-blur-md flex items-center justify-center"
      >
        <p class="text-xs text-white line-clamp-6">
          {{ movie()?.overview }}
        </p>
        <a class="absolute right-2 top-2 text-white">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path
              fill="currentColor"
              d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
            ></path>
            <path d="M11 11h2v6h-2zm0-4h2v2h-2z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
      }
    </div>
    <div class="movie-trend__info w-fit">
      @if(!usePortrait()){
      <div class="flex flex-col w-full py-2 justify-center gap-2">
        <div class="flex w-full items-center justify-between">
          <h4
            class="movie-trend__title !text-balance text-center font-bold !text-xl"
          >
            {{ movie()?.title }}
          </h4>
          <div
            class="flex items-center bg-orange-500 px-4 py-2 justify-center text-xs text-white font-bold rounded-full"
          >
            <span class="movie-trend__rating-value !text-sm">{{
              movie()?.vote_average ?? 0 | number : "1.1-1"
            }}</span>
          </div>
        </div>
        <span class="text-orange-500 font-semibold text-sm">{{
          movie()?.release_date | date
        }}</span>
      </div>
      }@else {
      <h4 class="movie-trend__title !text-wrap line-clamp-2">
        {{ movie()?.title }}
      </h4>
      }
    </div>
    @if(showRate()){
    <div
      class="flex items-center absolute {{
        !usePortrait() ? '' : 'top-0 right-0'
      }} bg-orange-500 px-4 py-2 justify-center text-xs text-white font-bold rounded-full"
    >
      <span class="movie-trend__rating-value !text-sm">{{
        movie()?.vote_average ?? 0 | number : "1.1-1"
      }}</span>
    </div>

    }
  </div>
</article>

} @if(loading() ){
<article class="movie-trend group relative w-full min-w-[150px]">
  <div
    class="movie-trend__container {{ !usePortrait() ? 'overflow-hidden' : '' }}"
  >
    <div class="movie-trend__image relative">
      <app-skeleton className="image_trend  w-[355px] h-[200px]"></app-skeleton>
    </div>
    <div class="movie-trend__info w-fit">
      @if(!usePortrait()){
      <div class="flex flex-col w-full py-2 justify-center gap-2">
        <div class="flex w-full items-center justify-between">
          <h4
            class="movie-trend__title !text-balance text-center font-bold !text-xl"
          >
            <app-skeleton className="w-[10ch] h-4 text-xl"></app-skeleton>
          </h4>
          <app-skeleton className="w-[2ch] h-4 text-xl"></app-skeleton>
        </div>
        <span class="text-orange-500 font-semibold text-sm">
          <app-skeleton className="text-sm"></app-skeleton>
        </span>
      </div>
      }@else {
      <h4 class="movie-trend__title !text-wrap line-clamp-2">
        <app-skeleton className="text-xl"></app-skeleton>
      </h4>
      }
    </div>
    @if(showRate()){
    <div
      class="flex items-center absolute {{
        !usePortrait() ? '' : 'top-0 right-0'
      }} bg-orange-500 px-4 py-2 justify-center text-xs text-white font-bold rounded-full"
    >
      <span class="movie-trend__rating-value !text-sm">
        <app-skeleton className="text-sm"></app-skeleton>
      </span>
    </div>

    }
  </div>
</article>
}
