<div
  class="grid grid-cols-1 overflow-x-hidden px-4 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-2"
>
  @for (item of movies(); track item.id) {
  <app-movie-trend
    [usePortrait]="false"
    [showRate]="false"
    [movie]="item"
    [loading]="loading()"
  ></app-movie-trend>
  } @if(loading()){ @for (item of sliceMovies ; track $index) {
  <app-movie-trend
    [usePortrait]="false"
    [showRate]="false"
    [loading]="loading()"
  ></app-movie-trend>
  } }
</div>
@if(!loading() && movies().length > 0 && filterOptions()){
<app-pagination
  (next)="next()"
  (prev)="prev()"
  [filterOptions]="filterOptions()"
></app-pagination>
}
