/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jersey15";
  src: url("/assets/fonts/Jersey15.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.text-jersey {
  font-family: "Jersey15", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Estilo general del scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar */
  height: 6px; /* Altura del scrollbar horizontal */
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #050505;
  border-radius: 10px; /* Opcional: bordes redondeados */
}

/* Color del thumb (el control que se mueve) */
::-webkit-scrollbar-thumb {
  @apply bg-orange-500;
  border-radius: 10px; /* Bordes redondeados */
}

/* Cambiar color al hacer hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-600;
}
